[Desktop Entry]
Version=1.0
Name=Project 91
Comment=Postura corporal
Exec=/home/pi/Desktop/projectBiomedica/cronlaunch.sh
Icon=/home/pi/Documents/project/projectBiomedica/img/occ.png
Terminal=false
Type=Application
Categories=Accesories
Path=/home/pi/Desktop/projectBiomedica/
