[Desktop Entry]
Version=1.0
Name=Project 91
Comment=Postura corporal
Exec=/home/raspberry/Documentos/projectBiomedica/cronlaunch.sh
Icon=/home/raspberry/Documentos/projectBiomedica/img/chiapas.png
Terminal=false
Type=Application
Categories=Accesories
Path=/home/raspberry/Documentos/projectBiomedica/
StartupNotify=false
